<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ asset('css/main.css') }}" />
<head>
    <title>MyArticles</title>
</head>
<body>
<h2>Article Manager:</h2>
<div class="container">
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}

</div>
</body>
</html>



