{% extends 'articles/base.html.twig' %}

{% block body  %}

    <div class="form">
        <br>
        <br>
        {{ form(form) }}

        {#<form method="post" enctype="multipart/form-data" action="{{ path('store_file') }}">#}
            {#<input type="file" name="uploadedFile"><br>#}
            {#<input type="submit" value="Send"><br>#}
            {#<input type="reset">#}
        {#</form>#}
    </div>

{% endblock  %}


